.text{
    color: rgb(107 114 128);
}
.categories-container {
    background-color: #212121;
    color: white;
    padding: 20px 0;
    border-radius: 30px;
}
.checkbox {
    /* background-color: ; */
}
.text-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.spacing{
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.title-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.title {
    font-size: large
}