<div class="container">
  <div class="form-container">
    <h1>Welcome back</h1>
    <h3 class="gray-color">Welcome back! Please enter your details</h3>
    <button class="login-google-btn">
      <img
        src="../../assets/google.svg"
        alt="sign up with google"
        width="30px"
        height="30px"
      />
      <p style="margin-top: 10px">Log in with google</p>
    </button>
    <div class="divider-container">
      <div class="divider"></div>
      <span style="margin: 0 20px">Or</span>
      <div class="divider"></div>
    </div>
    <form>
      <div class="loginForm">
        <mat-form-field appearance="standard">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Password</mat-label>
          <input matInput type="password" />
        </mat-form-field>
      </div>
      <section>
        <div class="checkbox-text">
          <mat-checkbox class="checkbox"></mat-checkbox>
          <span>Remember me for 30 days</span>
        </div>
        <a class="forgot-password">Forgot password</a>
      </section>
    </form>
    <button mat-flat-button class="login-btn" (click)="loginWithGoogle()">
      Log in
    </button>
    <p class="gray-color">
      Don't have an account?
      <a class="signUp-text" routerLink="">Sign up for free</a>
    </p>
  </div>
  <div class="image-container"></div>
</div>
