<div>
  <app-spinner *ngIf="searching"></app-spinner>
  <section class="flex flex-col space-y-11 w-full">
    <div class="flex flex-col space-y-5" *ngIf="popularMovies.length > 0">
      <div class="flex flex-row items-center justify-between">
        <h1 class="text-white capitalize text-2xl font-semibold">Popular</h1>
        <div
          class="hidden md:flex flex-row items-center space-x-1 cursor-pointer"
          (click)="saveMovies(popularMovies, 'popular')"
        >
          <p class="text-gray-400 text-lg">See all</p>
          <app-icon variant="arrow-right"></app-icon>
        </div>
      </div>
      <div
        class="flex flex-row items-center space-x-6 md:overflow-hidden overflow-x-scroll"
      >
        <app-card
          variant="movie"
          [movie]="movie"
          *ngFor="let movie of popularMovies"
          (movieClickEvent)="goToMoviePage($event)"
        ></app-card>
      </div>
    </div>

    <div class="flex flex-col space-y-5" *ngIf="topRatedMovies.length > 0">
      <div class="flex flex-row items-center justify-between">
        <h1 class="text-white capitalize text-2xl font-semibold">Top rated</h1>
        <div
          class="hidden md:flex flex-row items-center space-x-1 cursor-pointer"
          (click)="saveMovies(topRatedMovies, 'topRated')"
        >
          <p class="text-gray-400 text-lg">See all</p>
          <app-icon variant="arrow-right"></app-icon>
        </div>
      </div>
      <div
        class="flex flex-row items-center space-x-6 md:overflow-hidden overflow-x-scroll"
      >
        <app-card
          variant="movie"
          [movie]="movie"
          *ngFor="let movie of topRatedMovies"
          (movieClickEvent)="goToMoviePage($event)"
        ></app-card>
      </div>
    </div>

    <div class="flex flex-col space-y-5" *ngIf="upComingMovies.length > 0">
      <div class="flex flex-row items-center justify-between">
        <h1 class="text-white capitalize text-2xl font-semibold">Upcoming</h1>
        <div
          class="hidden md:flex flex-row items-center space-x-1 cursor-pointer"
          (click)="saveMovies(upComingMovies, 'upComing')"
        >
          <p class="text-gray-400 text-lg">See all</p>
          <app-icon variant="arrow-right"></app-icon>
        </div>
      </div>
      <div
        class="flex flex-row items-center space-x-6 md:overflow-hidden overflow-x-scroll"
      >
        <app-card
          variant="movie"
          [movie]="movie"
          *ngFor="let movie of upComingMovies"
          (movieClickEvent)="goToMoviePage($event)"
        ></app-card>
      </div>
    </div>

    <div class="flex flex-col space-y-5" *ngIf="nowPlayingMovies.length > 0">
      <div class="flex flex-row items-center justify-between">
        <h1 class="text-white capitalize text-2xl font-semibold">
          Now playing
        </h1>
        <div
          class="hidden md:flex flex-row items-center space-x-1 cursor-pointer"
          (click)="saveMovies(nowPlayingMovies, 'nowPlaying')"
        >
          <p class="text-gray-400 text-lg">See all</p>
          <app-icon variant="arrow-right"></app-icon>
        </div>
      </div>
      <div
        class="flex flex-row items-center space-x-6 md:overflow-hidden overflow-x-scroll"
      >
        <app-card
          variant="movie"
          [movie]="movie"
          *ngFor="let movie of nowPlayingMovies"
          (movieClickEvent)="goToMoviePage($event)"
        ></app-card>
      </div>
    </div>
  </section>
</div>
