<div class="header">
  <div class="search-container">
    <span class="material-symbols-outlined"> search </span>
    <input
      type="search"
      name=""
      id=""
      class="search-box"
      placeholder="Search for movies, TV shows..."
    />
  </div>
  <div class="info">
    <div class="notification">
      <span class="material-symbols-outlined">notifications</span>
    </div>
    <img
      src="https://randomuser.me/api/portraits/thumb/women/75.jpg"
      alt="woman image"
      class="avatar"
    />
  </div>
</div>
