<div>
  <ng-container *ngIf="variant === 'text'">
    <input
      [type]="variant"
      class="w-96 py-2 px-4 h-12 ring-1 ring-gray-300 focus:ring-theme-black text-theme-black bg-white rounded-lg text-base"
      [id]="id"
      [autocomplete]="id"
    />
  </ng-container>

  <ng-container *ngIf="variant === 'password'">
    <div
      class="w-96 py-2 px-4 h-12 ring-1 focus-within:ring-2 ring-gray-300 focus-within:ring-theme-black text-theme-black bg-white rounded-lg text-base flex flex-row space-x-2 items-center"
    >
      <input
        [type]="visible ? 'text': 'password' "
        class="outline-none border-none w-full"
        [id]="id"
        [autocomplete]="id"
      />
      <app-icon
        variant="eye"
        *ngIf="!visible"
        (clickEvent)="showPassword()"
      ></app-icon>
      <app-icon
        variant="eyeOff"
        *ngIf="visible"
        (clickEvent)="hidePassword()"
      ></app-icon>
    </div>
  </ng-container>
</div>
