<div>
  <ng-container *ngIf="variant === 'text'">
    <input
      [type]="variant"
      [class]="valid ? validInput : invalidInput"
      [id]="id"
      [autocomplete]="id"
      #text
      (input)="onTextChange(text.value)"
    />
  </ng-container>

  <ng-container *ngIf="variant === 'password'">
    <div [class]="valid ? validPassword : invalidPassword">
      <input
        [type]="visible ? 'text' : 'password'"
        class="outline-none border-none w-full"
        [id]="id"
        [autocomplete]="id"
        #password
        (input)="onPasswordChange(password.value)"
      />
      <app-icon
        variant="eye"
        *ngIf="!visible"
        (clickEvent)="showPassword()"
      ></app-icon>
      <app-icon
        variant="eyeOff"
        *ngIf="visible"
        (clickEvent)="hidePassword()"
      ></app-icon>
    </div>
  </ng-container>
</div>
