<div>
  <ng-container *ngIf="variant === 'movie'">
    <div class="w-movie-c-w h-movie-c-h">
      <div
        class="rounded-xl cursor-pointer w-full h-movie-i-h px-4 py-2"
        (click)="getItemId()"
        [ngStyle]="{
          'background-image': getBgImage(),
          'background-repeat': 'no-repeat',
          'background-size': 'cover'
        }"
      >
        <div
          class="flex flex-row items-center bg-theme-black px-2 py-0.5 space-x-1 w-min rounded-2xl"
        >
          <app-icon variant="rating"></app-icon>
          <p class="text-white text-sm">{{ movie.vote_average }}</p>
        </div>
      </div>
      <div class="flex flex-col space-y-1 py-1 text-white">
        <p class="text-lg font-semibold truncate ...">
          {{ movie.original_title }}
        </p>
        <p class="text-sm">{{ movie.release_date | date : "YYYY" }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'tvShow'">
    <div class="w-movie-c-w h-movie-c-h">
      <div
        class="rounded-xl cursor-pointer w-full h-movie-i-h px-4 py-2"
        (click)="getItemId()"
        [ngStyle]="{
          'background-image': getBgImage(),
          'background-repeat': 'no-repeat',
          'background-size': 'cover'
        }"
      >
        <div
          class="flex flex-row items-center bg-theme-black px-2 py-0.5 space-x-1 w-min rounded-2xl"
        >
          <app-icon variant="rating"></app-icon>
          <p class="text-white text-sm">{{ tvShow.vote_average }}</p>
        </div>
      </div>
      <div class="flex flex-col space-y-1 py-1 text-white">
        <p class="text-lg font-semibold truncate ...">
          {{ tvShow.original_name }}
        </p>
        <p class="text-sm">{{ tvShow.first_air_date | date : "YYYY" }}</p>
      </div>
    </div>
  </ng-container>
</div>
