<div>
  <ng-container *ngIf="variant === 'movie'">
    <div class="w-movie-c-w h-movie-c-h">
      <div
        class="rounded-xl cursor-pointer w-full h-movie-i-h px-4 py-2"
        (click)="getMovie(movie)"
        [ngStyle]="{
          'background-image': getBgImage(),
          'background-repeat': 'no-repeat',
          'background-size': 'cover'
        }"
      >
        <div
          class="flex flex-row items-center bg-theme-black px-2 py-0.5 space-x-1 w-min rounded-2xl"
        >
          <app-icon variant="rating"></app-icon>
          <p class="text-white text-sm">
            {{ movie.vote_average | number : "1.1-1" }}
          </p>
        </div>
      </div>
      <div class="flex flex-col space-y-1 py-1 text-white">
        <p class="text-lg font-semibold truncate ...">
          {{ movie.original_title }}
        </p>
        <p class="text-sm">{{ movie.release_date | date : "YYYY" }}</p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'movieDetails'">
    <div class="w-full h-full flex flex-row items-start space-x-4">
      <div>
        <div
          class="rounded-xl cursor-pointer w-movie-c-w h-movie-i-h px-4 py-2"
          [ngStyle]="{
            'background-image': getBgImage(),
            'background-repeat': 'no-repeat',
            'background-size': 'cover'
          }"
        >
          <div
            class="flex flex-row items-center bg-theme-black px-2 py-0.5 space-x-1 w-min rounded-2xl"
          >
            <app-icon variant="rating"></app-icon>
            <p class="text-white text-sm">
              {{ movie.vote_average | number : "1.1-1" }}
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-8 text-white">
        <h1 class="text-4xl">{{ movie.original_title }}</h1>
        <p class="text-lg text-gray-400">{{ movie.overview }}</p>
        <p class="text-base text-white font-semibold">
          Released: <span class=" text-gray-400 font-normal ml-1">{{ movie.release_date | date : "fullDate" }}</span>
        </p>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="variant === 'tvShow'">
    <div class="w-movie-c-w h-movie-c-h">
      <div
        class="rounded-xl cursor-pointer w-full h-movie-i-h px-4 py-2"
        (click)="getTvShow(tvShow)"
        [ngStyle]="{
          'background-image': getBgImage(),
          'background-repeat': 'no-repeat',
          'background-size': 'cover'
        }"
      >
        <div
          class="flex flex-row items-center bg-theme-black px-2 py-0.5 space-x-1 w-min rounded-2xl"
        >
          <app-icon variant="rating"></app-icon>
          <p class="text-white text-sm">
            {{ tvShow.vote_average | number : "1.1-1" }}
          </p>
        </div>
      </div>
      <div class="flex flex-col space-y-1 py-1 text-white">
        <p class="text-lg font-semibold truncate ...">
          {{ tvShow.original_name }}
        </p>
        <p class="text-sm">{{ tvShow.first_air_date | date : "YYYY" }}</p>
      </div>
    </div>
  </ng-container>

   <ng-container *ngIf="variant === 'tvShowDetails'">
    <div class="w-full h-full flex flex-row items-start space-x-4">
      <div>
        <div
          class="rounded-xl cursor-pointer w-movie-c-w h-movie-i-h px-4 py-2"
          [ngStyle]="{
            'background-image': getBgImage(),
            'background-repeat': 'no-repeat',
            'background-size': 'cover'
          }"
        >
          <div
            class="flex flex-row items-center bg-theme-black px-2 py-0.5 space-x-1 w-min rounded-2xl"
          >
            <app-icon variant="rating"></app-icon>
            <p class="text-white text-sm">
              {{ tvShow.vote_average | number : "1.1-1" }}
            </p>
          </div>
        </div>
      </div>

      <div class="flex flex-col space-y-8 text-white">
        <h1 class="text-4xl">{{  tvShow.original_name }}</h1>
        <p class="text-lg text-gray-400">{{ tvShow.overview }}</p>
        <p class="text-base text-white font-semibold">
          Released: <span class=" text-gray-400 font-normal ml-1">{{ tvShow.first_air_date | date : "fullDate" }}</span>
        </p>
      </div>
    </div>
  </ng-container>

  
</div>
